.sign-out {
	float: right;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

.jumbotron {
    height: 364px;
    margin-bottom: -109px;
    margin-top: -20px;
    color: white;
    background-color: transparent !important;
    padding-top: 61px;
}

.jumboBackground {
	background-image: url("./img/Background_placeholder.png") !important;
	background-size: cover;
}

.forgot {
	text-align: center;
}

body {
	background-image: url("./img/Patterned-background.png");	
}

.Signin {
    margin: 0px auto;
    height: 320px;
    padding: 50px;
    padding-right: 150px;
    padding-left: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*border: 1px solid red;*/
    /* align-content: center; */
    background-color: lightgray;
    width: 700px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
/*    background-color: #1abc9c;
    border-color: #1abc9c;*/
    font-style: "Open Sans";
}

.add-doctor {
    height: 125px;
}

.card-text {
    font-size: 12px;
    text-align: left;
}

.card-header {
    display: flex;
    height: 50px;
    align-items: center;
}

.card-block {
    height: 125px;
    overflow-x: scroll;
}

.docApiCard {
    border: 3px solid black;
    border-radius: 2px;
}

.card-type {
    margin: auto;
}

.container-fluid {
    width:100%;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50p;
}

.patient-grid {
    background-color: #777;
    padding-top: 50px;
}

.patient-item {
    text-align: left;
    font-size: 12px;
    display: flex;
}

.patient-button {
    background-color: #777;
}
